<h1>StaticPages#home</h1>
<% if logged_in?%> 
    <h1>home</h1> 
    <h4>こんにちは,<%=current_user.name%>さん</h4> 
<% else %> 
    <h4>ログインしてください</h4> 
<%end%> 
<p>Find me in app/views/static_pages/home.html.erb</p>
